* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    color: #fff;
}

h1 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
    grid-column: span 2; 
}

.social-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    align-items: center;
    justify-items: center;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    width: 200px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
}

.btn img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}


.btn.linkedin {
    background-color: #0077b5;
}

.btn.telegram,
.btn.telegram-channel {
    background-color: #0088cc;
}

.btn.github {
    background-color: #24292e;
}

.btn.spotify {
    background-color: #1DB954;
}

.btn.kaggle {
    background-color: #20BEFF;
}

.btn:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}
